
input.radio {margin: 0 2px 0 8px;}
input.radio.first {margin-left:0;}
input.empty {color: lightgray;}
code {color: #2f332a;}
.highlight_red {color:#A60000;}
.highlight_green {color:#A7F43D;}

ul.list {margin-left: 17px;}

div.content_wrap {width: 100%;height:380px;}
div.content_wrap div.left{float: left;width: 70%;}
div.content_wrap div.right{float: right;width: 30%;}
div.zTreeDemoBackground {width:100%;height:362px;text-align:left;border:none;}

ul.ztree {margin-top: 10px;background-color: rgba(255,255,255,0.60);border:none;width:99%;height:360px;overflow-y:auto;overflow-x:auto;}
ul.log {border: 1px solid #617775;background: #f0f6e4;width:300px;height:170px;overflow: hidden;}
ul.log.small {height:45px;}
ul.log li {color: #666666;list-style: none;padding-left: 10px;}
ul.log li.dark {background-color: #E3E3E3;}

/* ruler */
div.ruler {height:20px; width:220px; background-color:#f0f6e4;border: 1px solid #333; margin-bottom: 5px; cursor: pointer}
div.ruler div.cursor {height:20px; width:30px; background-color:#3C6E31; color:white; text-align: right; padding-right: 5px; cursor: pointer}